Welcome to the home page
<% @users.each do |f| %>


  <div class="each-user-div">
  <img src="<%= f.photo %> "  />

     <div>
        <p>   UserName: <%= f.name %></p>
         <p>  Number of Posts: <%= f.postscounter %></p>
         <button>
         <%= link_to "See Profile", user_path(f) %>
         </button>
    </div>
   
  </div>


<% end %>

<button>
<%= link_to "Add a New User", new_user_path %>
</button>




