<% @users.each do |f| %>
  <div class="each-user-div">
  <img src="<%= f.photo %> "  />

     <div>
        <p>   UserName: <%= f.name %></p>
         <p>  Number of Posts: <%= f.postscounter %></p>
         <%= link_to "See Profile", user_path(f) %>
    </div>
   
  </div>


<% end %>

<%= link_to "New User", new_user_path %>