New post

<%= form_for [@user, @post] do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>

        
    </div>
    <div>
     <%= f.label :text %>
     <%= f.text_field :text %>
   
    </div>
    <div>
    <%= f.label :postscounter %>
    <%= f.text_field :postscounter %>
      
    </div>
    <div>
    <%= f.label :likescounter %>
    <%= f.text_field :likescounter %>
      
    <div>
    <%= f.label :commentscounter %>
    <%= f.text_field :commentscounter %>
      
    </div>
    </div>
    <div>
    <%= f.submit "Add a post" %>
    </div>


 <% end %>


 post1 = Post.create(user:mike , title: 'second post for mike' , text: 'Post nambar 4', postscounter: 5 , likescoun
ter: 4 , commentscounter: 2)