
<div class="each-post">
<div class="each-post-details">
<p>Post <%=   @post.id %> by  <%=   @post.user.name %>  </p>
<div>
<p>Comments:<%=   @post.commentscounter %></p>
<p>Likes:<%=   @post.likescounter %></p>
</div>
</div>
<p><%=   @post.text %> </p>
<p><%=   @post.title %> </p>
<%= render partial: 'likes/form' %>



</div>
<div class="comments-for-each-post">

<% @post.comments.each do |f| %>
 
    <p> <%= f.user.name %> : <%= f.text %> </p>
  

<% end %>
</div>
<button>
<%= link_to "Add a comment", new_user_post_comment_path(@post.user, @post) %>
</button>